<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="extentlisteners.ExtentListeners" />
	</listeners>

	<test name="Parallel Tests Edge">
		<!-- 		<parameter name="browserName" value="Edge_headless" />-->
		<parameter name="browserName" value="Edge" />
		<classes>

			<class name="test.launch" />
			
		</classes>
	</test>

</suite> 